{% extends 'base-all.html' %}

{% block title %}编辑日志{% endblock %}

{% block beforehead %}
    <link rel="stylesheet" href="/static/css/blog-edit.css">
{% endblock %}

{% block all_content %}
<form class="center-block" id="blog" role="form" v-on:submit.prevent="submit">
    <div class="edit-alert alert alert-danger" role="alert" hidden="hidden">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        <span v-text="message"></span>
    </div>
    <div class="edit-list">
        <div class="list-head">

        </div>
        <div class="list-interface">
            <div class="interface-folders">
                <div class="choose-folder">
                    <div class="choose-explain">请选择使用的笔记本</div>
                    {% for folder in folders %}
                    <a class="folders" href="#" v-on:click="click('{{ folder }}')">
                        <i class="fa fa-book"></i>{{ folder }}
                    </a>
                    {% endfor %}
                </div>
                <div class="create-folder">
                    <div class="create-explain">或使用新的笔记本</div>
                    <input class="summary" autocomplete="off" id="summary" name="summary"
                           type="text" placeholder="键入新建笔记本名" v-model="blog.summary" />
                </div>
            </div>
            <div class="interface-submit">
                <button class="submit-btn">保存 >></button>
            </div>
        </div>
    </div>
    <div class="edit-view">
        <input class="edit-title" autocomplete="off" id="name" name="name"
               type="text" placeholder="请输入标题" v-model="blog.name">
        <div class="edit-page">
            <textarea class="col-sm-6 edit-content" id="content" name="content"
                      type="text"  placeholder="请输入内容" v-model="blog.content"></textarea>
            <div class="col-sm-6 edit-preview pre-scrollable" v-html="blog.content|marked"></div>
        </div>
    </div>
</form>
{% endblock %}

{% block script %}
    <script src="/static/js/cdls/vue.min.js"></script>
    <script src="/static/js/cdls/marked.min.js"></script>
    <script src="/static/js/plusin/auto-line-number.js"></script>
    <script src="/static/js/blog_edit.js"></script>

<script type="text/javascript">
    $("#content").setTextareaCount();
    $('.folders').click(function () {
        $('.active').removeAttr('v-model');
        $('.active').removeClass('active');
        $(this).addClass('active');
        $(this).attr('v-model', "blog.summary");
    });
</script>
{% endblock %}