{% extends 'base-major.html' %}

{% block title %}{{ blog.name }}{% endblock %}

{% block beforehead %}
<link rel="stylesheet" href="/static/css/blog-show.css">
{% endblock %}


{% block major_content %}

<div class="container">

    <article class="blog-post">
        <div class="blog-post-head">
            <h1 class="blog-post-title">{{ blog.name }}</h1>

            <p class="blog-post-meta">
                <a class="blong-to-folder" style="margin-right: 50px;" href="/bootstrap/?tag={{ blog.summary }}">{{ blog.summary }}</a>
                由<a style="border: 0; margin: 0 5px; font-size: 14px;" href="/bootstrap/userpage">{{ blog.user_name }}</a>
                发表于<time>{{ blog.created_at|datetime }}</time>
            </p>
        </div>
        <p>{{ blog.content|marked|safe }}</p>
    </article>
    <div class="comment" id="blog-comment">

        <h4>最新评论</h4>
        <ul class="media-list">

            <li class="media" v-for="c in comments" track-by="id" style="box-shadow: 0 0 3px #888888;">
                <div class="media-top" style="vertical-align: middle">
                    <!-- v-bind可以省略不写 -->
                    <div class="media-left">
                    <img style="border: 0;" class="media-object img-thumbnail" v-bind:src="c.user_image"
                         alt="user_image" align="middle" width="70px" height="70px"/>
                    </div>
                    <div class="media-right" style="vertical-align: middle">
                    <h4 style="" class="media-heading" v-text="c.user_name"></h4>
                    <small style="color: #b2b2b2;" v-text="'发表于 ' + c.created_at.toDateTime('yyyy-MM-dd')"></small>
                    </div>

                </div>
                <div class="media-body" style="padding: 20px;">

                    <!-- <hr class="divider"/> -->
                    <article>
                        <p v-html="c.content"></p>
                    </article>

                </div>

            </li>
        </ul><!-- media-list -->

        <hr class="divider"/>

        {% if __user__ %}

        <form class="form" v-on:submit.prevent="submit">
            <div class="form-group">
                <button class="btn btn-primary" style="display: inline;"><h4>添加评论</h4></button>

                <span class="alert alert-danger" hidden="hidden" style="margin: 15px;">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    <span v-text="message"></span>
                </span>
            </div>
            <div class="form-group col-sm-6" style="padding-left: 0;">
                <textarea class="form-control" rows="15" id="comment" name="comment" placeholder="默认使用markdown解析内容"
                          v-model="comment"></textarea>
            </div>
            <div class="col-sm-6 pre-scrollable" style="border-radius: 4px; height: 313px; box-shadow: 0 0 3px #888888;" v-html="comment|marked"></div>
        </form>

        {% endif %}
    </div>
</div>
{% if __user__ is none %}
<div class="check-sign">
    <h4>请<a href="/bootstrap/signin">登陆</a>后再评论，如未注册请先<a href="/bootstrap/signup">注册</a></h4>
</div>
{% endif %}
{% endblock %}

{% block script %}
<script src="/static/js/cdls/vue.min.js"></script>
<script src="/static/js/cdls/marked.min.js"></script>
<script src="/static/js/blog_show.js"></script>
{% endblock %}